# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# SQLite
*.sqlite
*.db

# Environment variables
.env

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Distribution
build/
dist/
*.egg-info/