<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Library</title>
  </head>
  <body>

    <h1>My Library</h1>

    <a href="/add_author">Add Author</a><br>
    <a href="/add_book">Add Book</a>

    <h2>Sort Books</h2>
    <a href="/?sort=title">Sort by Title</a>
    |
    <a href="/?sort=author">Sort by Author</a>

    <hr>

    {% for book in books %}
      <div>
        <h3>{{ book.title }}</h3>

        <p>Author: {{ book.author.name }}</p>
        <p>ISBN: {{ book.isbn }}</p>
        <p>Publication Year: {{ book.publication_year }}</p>

        <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" alt="Book Cover">

        <hr>
      </div>
    {% endfor %}

  </body>
</html>
